@font-face {
  font-family: "iconfont"; /* Project id 2718879 */
  src: url('iconfont.woff2?t=1628582521773') format('woff2'),
       url('iconfont.woff?t=1628582521773') format('woff'),
       url('iconfont.ttf?t=1628582521773') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test4:before {
  content: "\e602";
}

.icon-a-LeftArrow-copy-copy:before {
  content: "\e603";
}

.icon-kouhong:before {
  content: "\e600";
}

.icon-biaoqian:before {
  content: "\e6a9";
}

.icon-shopcart:before {
  content: "\e60b";
}

.icon-chongzhi:before {
  content: "\e638";
}

.icon-naiping:before {
  content: "\e605";
}

.icon-huodong:before {
  content: "\e630";
}

.icon-mulu:before {
  content: "\e601";
}

.icon-shiyongyou:before {
  content: "\e62f";
}

.icon-zhijin:before {
  content: "\e62e";
}

.icon-nailao:before {
  content: "\e618";
}

.icon-V:before {
  content: "\e72a";
}

.icon-basket:before {
  content: "\e631";
}

.icon-jiandao:before {
  content: "\e6fd";
}

.icon-yinliao:before {
  content: "\e615";
}

.icon-shouji:before {
  content: "\e604";
}

.icon-tianchongxing-:before {
  content: "\e641";
}

.icon-zhuye:before {
  content: "\e607";
}

